body {
  margin: 0;
  font-family: 'Verdana', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.excersizeContainer {
  width: 600px;
  margin: 100px auto;
}

.correctAnswer {
  text-align: center;
  font-size: 150px;
  font-variant-caps: small-caps;
}